*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    /*標題*/
    text-align: center;
    /*文字位置*/
}

.flex {
    /*背景方塊設定*/
    display: flex;
    background: yellow;
    width: 90%;
    margin: 20px auto;
    height: 300px;
}

.flex-item {
    /*內容方塊與文字設定*/
    width: 100px;
    height: 100px;
    background: #000;
    color: #fff;
    margin: 0 10px;
}

.direction {
    /*方向*/
    flex-direction: row;/*由左到右*/
    flex-direction: row-reverse;/*由右到左*/
    flex-direction: column;/*由上到下*/
    flex-direction: column-reverse;/*由下到上*/
}

.wrap {
    /*內容超出行為*/
    flex-wrap: nowrap;/*不換行，內容寬高會自動調整*/
    flex-wrap: wrap;/*換行*/
    flex-wrap: wrap-reverse;/*換行，上下反轉*/
}

.justify-content {
    /*主軸對齊*/
    justify-content: flex-start;/*靠左*/
    justify-content: flex-end;/*靠右*/
    justify-content: center;/*置中*/
    justify-content: space-around;/*左右平均寬度分散*/
    justify-content: space-between;/*左右貼平分散*/
    justify-content: space-evenly;/*平均分散*/
}

.align-content {
    /*副軸對齊*/

    align-content: flex-start;/*靠上*/
    align-content: flex-end;/*靠下*/
    align-content: center;/*置中*/
    align-content: space-around;/*上下平均寬度分散*/
    align-content: space-between;/*上下貼平分散*/
    align-content: space-evenly; /*平均分散*/
}

.align-items {
    /*副軸內容對齊*/
    align-items: stretch;/*高度延伸，內容區塊有設定高度時，則依據高度為主*/
    align-items: flex-start;/*靠上*/
    align-items: flex-end;/*靠下*/
    align-items: center;/*置中*/
    align-items: baseline;/*內容基準線*/
}

.jic {
    /*內容物對齊*/
    display: flex;/*展示屬性*/
    justify-content: center;/*主軸對齊*/
    align-items: center;/*副軸對齊*/
    order: -2;
}

.order-1 {
    order: -1;
    /*數字越小越前面，預設 0*/
}